APP_NAME=Toy Deployment App
ENVIRONMENT=production

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database

DATABASE_URL=postgresql+psycopg://your_user:your_password@postgres:5432/your_database

CORS_ORIGINS=["https://your-domain.com"]

IMAGE_TAG=latest